<div class="row">
    <div class="col s12 m5 push-m3">
      <div class="card-panel">
        <span class="">
          <h4>Обращение</h4>
          <b>Лечащий врач: </b><%= link_to @treatment.doctor.full_name, doctor_path(@treatment.doctor.id) %><br>
          <b>Дата обращения: </b><%= @treatment.created_at.strftime("%d.%m.%Y") %><br>
          <b>ФИО пациента: </b><%= link_to @treatment.user.full_name, user_path(@treatment.user.id) %><br>
          <b>Диагноз: </b><%= Disease.find(@treatment.disease_id).title %><br>
          <b>Жалобы: </b><%= @treatment.complaints %>
        </span>
      </div>
    </div>
  </div>
